<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ブログ詳細</title>
</head>
<body>
    <header>
        <h1>BLOG</h1>

        <nav class="navi">
            <a href="/blogs" class="homeBack">ホーム</a>
            <a href="/blogs/new" class="blogPlus">＋ 新規投稿</a>
        </nav>
    </header>

    <h2 class="detailTitle"  th:text="${blog.title}">タイトル</h2>

    <p class="line">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <p class="detailNotes" th:text="${blog.notes}">本文</p>
    <p class="line">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>

    <div class="memo">
        <p class="detailDate" th:text="${blog.postDate}">投稿日時</p>
        <p class="postAuthor" th:text="${blog.name}">名前</p>
    </div>
</body>
</html>