<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>新規投稿</title>
</head>
<body>
    <header>
        <h1>NEW BLOG</h1>

        <nav class="navi">
            <a href="/blogs" class="homeBack">ホーム</a>
            <a href="/blogs/new" class="blogPlus">＋ 新規投稿</a>
        </nav>
    </header>

    <div class="formLayout">
        <form action="/blogs" method="post">
            <p><label for="name">投稿者名</label></p>
            <input type="text" id="name" name="name" size="80">
        
            <p><label for="title">タイトル</label></p>
            <input type="text" id="title" name="title" size="80">
     
            <p><label for="notes">本文</label></p>
            <textarea rows="20" cols="100" id="notes" name="notes" placeholder="本文を入力"></textarea>
        
            <br><button class="button" type="submit">投稿</button>
        </form>
    </div>

</body>
</html>